.cover {
    min-height: 91.3vh;
    background-color: #DBEEF6;
}

.products {
    min-height: 100vh;
    background-color: white;
}

.reviews {
    min-height: 100vh;
    background-color: #F4EDE9;
}

.faqs {
    min-height: 100vh;
    background-color: #DBEEF6;
}

.info {
    min-height: 100vh;
    background-color: #F4EDE9;
}