.frontendDashboard {
    background-color: #add8e6;
}


.frontendDashboardTitle {
    text-align: center;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}

.frontendDashboardContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    /* background-color: #2196F3; */
    padding: 10px;
}

.dashboard-frontend-img {
    width: 40vw;
    border-radius: 50%;
    margin-right: 3%;
    box-sizing: border-box;
    object-fit: cover;
    height: 35vw;
}

.frontendDashboardContent {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    margin-top: 10px;
    /* background-color: #21f321; */
    padding: 10px;
}

.markupLanguageSelect,
.programmingSelect,
.stylingSelect,
.librarySelect {
    padding: 20px;
    border: none;
}

.markupLanguage,
.stylingLanguage,
.programmingLanguage,
.library {
    background-color: white;
    height: 8vh;
    width: 22vw;
    padding: 15px;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
}

select {
    display: block;
    font-size: larger;
    padding: 10px;
    outline: 0;
    overflow: hidden;
}

.gateTechStackBody {
    align-items: center;
    display: flex;
    justify-content: center;
}

.gateTechStackButton {
    height: 5vh;
    width: 10vw;
    font-size: medium;
    background-color: #00ccff;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.gateTechStackButton:hover {
    background-color: blue;
    color: aliceblue;
}

.frontendDashboardAnswer {
    padding: 25px;
}

.frontendAnswer {
    width: 45.3vw;
    height: 30vh;
    padding: 20px;
    background-color: white;
    font: 1em sans-serif;
    resize: none;
    appearance: none;
    outline: 0;
}