.fullstackDashboard {
    background-color: #add8e6;
}


.fullstackDashboardTitle {
    text-align: center;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}

.fullstackDashboardContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    padding: 10px;
}

.dashboard-fullstack-img {
    width: 38vw;
    border-radius: 50%;
    margin-right: 3%;
    box-sizing: border-box;
    object-fit: cover;
    height: 28.5vw;
}

.fullstackDashboardContent {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    margin-top: 20px;
    padding: 10px;
}

.fullstackmarkupLanguageSelect,
.fullstackprogrammingSelect,
.fullstackstylingSelect,
.fullstacklibrarySelect {
    padding: 20px;
    border: none;
}

.fullstackmarkupLanguage,
.fullstackstylingLanguage,
.fullstackprogrammingLanguage,
.fullstacklibrary {
    background-color: white;
    height: 8vh;
    width: 22vw;
    padding: 15px;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
}


.fullstackDashboardAnswer {
    padding: 25px;
}

.fullstackAnswer {
    width: 45.3vw;
    height: 30vh;
    padding-top: 20px;
    background-color: white;
    font: 1em sans-serif;
    resize: none;
    appearance: none;
    outline: 0;
}

select {
    display: block;
    font-size: larger;
    padding: 10px;
    outline: 0;
    overflow: hidden;
}

.getTechStackBody {
    align-items: center;
    display: flex;
    justify-content: center;
}

.getTechStackButton {
    height: 5vh;
    width: 10vw;
    font-size: medium;
    background-color: #00ccff;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.getTechStackButton:hover {
    background-color: blue;
    color: aliceblue;
}