.loginForm{
    position: relative;
    width: 20%;
    background-color: white;
    box-sizing: border-box;
    
}

.formBody{
    position: relative;
    top: 10%;
    right: 25%;
    left: 25%;
    width: 375px;
    height: 493px;
    /* border: 1px solid black; */
}

.formTitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.formSubTitle{
    text-align: center;
    margin: 5% 10% 5% 10%;
    font-size: 20px;
    font-weight: 400;
    color: #a9abad;
    box-sizing: border-box;
}



.formInput{
    width: 100%;
}

.formStyle{
    width: 100%;
}

.emailBody{
width: 100%;
/* margin-top: 5%; */
box-sizing: border-box;
color: #939393;
}

.emailInput, .passwordInput, .loginButton{
    width: 100%;
    height: 55px;
    border-radius: 77px;
    padding: 0 10%;
    font-size: 14px;
    border: 2px solid #e5e5e5;
    margin-top: 15px;
    /* background-color: #dbdbdb; */
}

.passwordInput{
    width: 100%;
    color: #939393;
}

.memoryForm{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #939393;
}

.forgotPassword:hover{
    cursor: pointer;
}

.loginButton{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color:#2916F5;
    border: none;
    color: white;
    font-size: 16px;
}

.loginButton:hover{
    background-color: #0000A0;
    cursor: pointer;
}

.noAccount{
    position: absolute;
    bottom: 0;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.noAccount p {
    color: #aeaeae;
    font-size: 14px;
}

.noAccount a {
    text-decoration: none;
    font-size: 14px;
    color: #1976d2;
    margin-left: 15px;
}

@media only screen and (max-width: 1150px) {
    loginForm{
        width: 80%;
        height: 478px;;
        position: absolute;
        top: 45px;
        border-radius: 36px 36px 0px 0px;
    }

    /* .formBody{
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 5%;
        box-sizing: border-box;
    } */

    .noAccount {
        justify-content: center;
        padding: 0;
        width: 90%;
    }

}

@media only screen and (max-width: 768px) {
    .loginForm{
        width: 80%;
        height: 478px;;
        position: absolute;
        top: 40px;
        border-radius: 36px 36px 0px 0px;
    }

    .formBody{
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 5%;
        box-sizing: border-box;
    }

    .formTitle{
        text-align: start;
    }

    .formSubTitle{
        text-align: start;
        margin: 3% 0 0 0;
        box-sizing: border-box;
    }

    .noAccount{
        bottom: 8%;
    }

    
}

@media only screen and (max-width: 550px) {
    .loginForm{
        top: 30px;
        /* width: 70%; */
    }

    .formSubTitle{
        margin: 3% 0 0 0;
    }

    .loginButton{
        margin-top: 0;
    }
}

@media only screen and (max-width: 420px) {
    .loginForm{
        top: 30px;
        width: 70%;
    }

    .noAccount{
        bottom: 25%;
    }
}

@media only screen and (max-width: 380px) {

    .loginForm{
        top: 10px;
        padding-top: 5%;
        width: 70%;
    }

    .emailInput, .passwordInput, .loginButton{
        margin-top: 5px;
        height: 50px;
    }
}


@media only screen and (max-width: 300px) {

    .formSubTitle{
        margin: 3% 0 0 0;
    }
    .loginForm{
        top: 20px;
        padding-top: 5%;
    }
    .memoryForm{
        display: block;
    }
    .memoryCheck{
        text-align: center;
        width: 100%;
    }
    .forgotPassword{
        text-align: center;
        width: 100%;
    }

    .emailInput, .passwordInput, .loginButton{
        margin-top: 5px;
        height: 40px;
    }

    .loginButton{
        margin-top: 0;
    }

    .noAccount{
        bottom: 30%;
    }
}

.create-account {
    color: #0000ff;
    cursor: pointer;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}