.section-a5 {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}
.categories-one, .categories-two, .categories-three, .categories-four {
    font: 1.5em sans-serif;
    margin: 50px 50px;
    color: aqua;
}
.categories1{
    padding-top: 30px;
}
.categories1, .categories2, .categories3, .categories4 {
    padding-bottom: 40px;
    font-size: medium;
    color: rgb(233, 223, 223);
}
@media only screen and (max-width: 740px) {
    .section-a5{
        display: flex;
        flex-direction: column;
        
    }
    .categories-one{
        margin-top: 70px;
    }
    .categories-one, .categories-two, .categories-three, .categories-four {

        margin-left: 200px;
    }
    .categories1, .categories2, .categories3, .categories4 {
        width: 40vw;
        margin: 0;
    }


}
