.section-a5 {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 6.5%;
}
.categories-one, .categories-two, .categories-three, .categories-four {
    font: 1.5em sans-serif;
    padding: 20px;
    color: aqua;
}
.categories1{
    padding-top: 30px;
}
.categories1, .categories2, .categories3, .categories4 {
    padding-bottom: 40px;
    font-size: medium;
    color: rgb(233, 223, 223);
}
