.section-a2-heading {
    padding: 3% 0%;
    margin: 0;
    font-size: 38px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tech-section {
    display: flex;
    justify-content: space-around;
}

.frontend-tech {
    width: 30vw;
    height: 70vh;
    background-color: #add8e6;
}

.backend-tech {
    width: 30vw;
    height: 70vh;
    background-color: #add8e6;
}

.full-stack-tech {
    width: 30vw;
    height: 70vh;
    background-color: #add8e6;
}

.frontend-tech:hover,
.backend-tech:hover,
.full-stack-tech:hover {
    background-color: #DBEEF6;
}

.tech-logo,
.frontend-img,
.backend-img,
.fullstack-img {
    width: 26vw;
    height: 30vh;
    margin: 10px 0 0 10px;
}

.tech-text {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #575757;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tech-button {
    display: flex;
    justify-content: center;
}
.button{
    padding: 13px;
    background-color:#2177c7;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button:hover {
    background-color: #072038;
    color: #DBEEF6;
}
.text{
    padding: 15px;
    font-family: 'Arial';
}