.section-a4-heading {
    padding: 3% 0%;
    margin: 0;
    font-size: 38px;
    letter-spacing: 2px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.faq {
    width: 60vw;
    height: 8vh;
    background-color: white;
    margin-bottom: 3%;
    margin-left: 20vw;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    box-sizing: border-box;
    color: #5c5c5c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}