.forgotForm{
    position: relative;
    width: 30%;
    background-color: white;
    box-sizing: border-box;
    
}

.forgotformBody{
    position: relative;
    /* top: 50%; */
    right: 25%;
    left: 8%;
    width: 340px;
    height: 493px;
}

.forgotformTitle{
    /* text-align: center; */
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}

.forgotformSubTitle{
    text-align: center;
    margin: 5% 10% 5% 10%;
    font-size: 14;
    font-weight: 400;
    color: #a9abad;
    box-sizing: border-box;
    font-size: larger;
}



.forgotformInput{
    width: 100%;
    height: 100%;
}

.forgotformStyle{
    width: 100%;
}

.gmailBody {
width: 100%;
margin-top: 7%;
margin-left: 5%;
box-sizing: border-box;
color: #939393;
padding: 15px;
font-size: larger;
}

.forgotEmail{
    width: 90%;
    height: 50px;
    border-radius: 77px;
    padding: 0 10%;
    font-size: 14px;
    border: 2px solid #e5e5e5;
    margin-top: 10%;
    /* background-color: #dbdbdb; */
}


.forgotButton{
    position: absolute;
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10%;
    margin-top: 15%;
    background-color:#2916F5;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 77px;
}

.forgotButton:hover{
    background-color: #0000A0;
    cursor: pointer;
}
.forgotAnAccountBody{
    display: flex;
    margin-left: 30px;
}
.forgotcreateAnAccount{
    margin-left: 20px;
    color: #5344f5;
}
.createAnAccount:hover{
    color: #2008a7;
}


@media only screen and (max-width: 1150px) {
    .forgotForm{
        width: 100%;
        height: 478px;;
        position: absolute;
        top: 85%;
        border-radius: 36px 36px 0px 0px;
    }

    .forgotBody{
        top: 0;
        left: 0;
        right: 0;
        width: 80%;
        padding: 5%;
        box-sizing: border-box;
    }

}

@media only screen and (max-width: 768px) {
    .forgotformstyle{
        width: 100%;
        height: 480px;;
        position: absolute;
        top: 540px;
        border-radius: 36px 36px 0px 0px;
    }

    .forgotformstyleformTitle{
        text-align: start;
    }

    .forgotformstyleformSubTitle{
        text-align: start;
        margin: 3% 0 0 0;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 550px) {
    .forgotformstyleForm{
        top: 300px;
    }

    .forgotformstyleformSubTitle{
        margin: 3% 0 0 0;
    }

    .forgotformstyleButton{
        margin-top: 0;
    }
}

@media only screen and (max-width: 420px) {
    .forgotformstyleForm{
        top: 300px;
    }
    .forgotEmail{
        margin-top: 5px;
        height: 50px;
        width: 100%;
    }

}

@media only screen and (max-width: 380px) {

    .forgotformstyleForm{
        top: 300px;
        padding-top: 5%;
    }

    .forgotEmail{
        margin-top: 5px;
        height: 50px;
        width: 100%;
    }
}


@media only screen and (max-width: 300px) {
    .forgotformSubTitle{
        margin: 3% 0 0 0;
    }
    .forgotForm{
        top: 300px;
        padding-top: 5%;
    }

    .forgotEmail{
        margin-top: 5px;
        height: 40px;
        width: 100%;
    }
}
